@media (min-width : 700px) {   

    nav {        
        padding: 15px !important;
    }   
    
    #menu-toggle {
        display: none !important;       
    }
    
    a:hover#menu-toggle {    
        background-color: #444;
        border-radius: 4px 4px 0 0;    
    }
    
    header {
        ul {    
            list-style: none !important;    
            display: inline-block !important;
            position: relative !important;
            padding: initial !important;
            border: none !important;
            top: unset !important;
            width: initial !important;
            background: none !important;
            margin: 0;

            li {    
                display: inline-block;        
                padding: 10px;
                width: initial !important;    
            }
        }    
    }
    #footer {  
        height: 130px !important; 
        .bg-image-footer {
            height: 35% !important;
        }  
        ul {        
            flex-flow: row !important;

            .separator {
                height: 90% !important;
                width: 4px !important;
            }
        }
    }    
}

@media (min-width : 1000px) {   
    #footer {  
        .bg-image-footer {
            height: 25% !important;
        }  
    }    
}